section{
    height: 100vh;
    background-color:#dadada;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: coral;
    transform: translate(0px, 0px);
    transform-origin: 0% 50%;
    animation-name: ballAnimation;
    animation-duration: 5s;
    position: relative;
  }

.box {

    height: 100px;
    width: 100px;
    border-radius: 2%;
    background-color: green;
    transform: translate(0px, 0px);
    transform-origin: 0% 50%;
    animation-name: boxAnimation;
    animation-duration: 5s;
    position: relative;
}

@keyframes ballAnimation {

0%{
background-color: coral;
transform: translateX(0px);
border-radius: 50%;
}

50%{
    background-color: green;
    transform: translateX(100px);
    border-radius: 2%;
    }

100%{
background-color: coral;
transform: translateX(0px);
border-radius: 50%;
}

}

@keyframes boxAnimation {

    0%{
    background-color: green;
    transform: translateX(0px);
    border-radius: 2%;
    }
    
    50%{
        background-color: coral;
    transform: translateX(-100px);
    border-radius: 100%;
    }

    100%{
        background-color: green;
        transform: translateX(0px);
        border-radius: 2%;
        }
    
    }