body{
    color:red;
    font-weight: 400;
}

.button{
    padding: 16px, 10px,16px, 10px;
    background-color: white;
    border-radius: 100px;
    font-family: 'DotGothic16', sans-serif;
}

a{
    text-decoration: none;
}

h1{
    font-family: 'DotGothic16', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase
}


.hero_section{
    width: 100%;
    height: 100vh;
    background-color:black;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/images/hero_background_video_low_farbig.gif");
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    z-index: 10;
}

.hero_container{
    width:50vw;
    position: relative;
    z-index: 15;
}

.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(100px);
    height: 110vh;
    width: 100%;
    position: fixed;
    z-index: 5;
  }


