body {
  font-family: Platform, sans-serif;
  color: #000;
  font-size: 1vh;
  line-height: 1;
  font-weight: 700;
}

.section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  min-height: 25vh;
  border-top: 1px solid #000;
}

.container_info {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  flex: 0 50%;
}

.bodytext {
  margin-bottom: 0px;
  font-size: 1vh;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.logo {
  font-size: 3.5vh;
  line-height: 0.9;
  text-transform: uppercase;
}

.container_date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date {
  font-size: 3vh;
  line-height: 1;
}

.container_name {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 1.75vh;
  line-height: 1;
  text-transform: uppercase;
}



@font-face {
  font-family: 'Platform';
  src: url('../assets/Platform-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Platform';
  src: url('../assets/Platform-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


.marquee {
  overflow: hidden;
  width: 50vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  --offset: 20vw;
  --move-initial: calc(-20% + var(--offset));
  --move-final: calc(-45% + var(--offset));
  
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 3s linear infinite;
}

.marquee span {
  font-size: 25vh;
  line-height: 0.7;
  letter-spacing: 10px;
  padding: 0 1vw;
  text-transform: uppercase;
  cursor:default;
}

.marquee:hover .marquee__inner {
animation-duration: 0.25s;
}


@keyframes marquee {
  0% {
      transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
      transform: translate3d(var(--move-final), 0, 0);
  }
}


@media (max-width: 777px) {



.row {
  flex-direction: column-reverse;
  border-style: none;
}

.container_info{
  border-top: 1px solid;
  }  

.bodytext {
  font-size: 1.75vh;
}

.marquee {
  overflow: hidden;
  width: 100vw;
  border-top: 1px solid black;
}


}